body {
    margin:20px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(2, [col] 50%);
    grid-template-rows: repeat(2, [row] auto);
}
.box_one {
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    background-color: rgba(192,192,192,0.3)
}
.box {
    border: 1px solid black;
}
.c {
    grid-column: col /span 2;
}
.free_label {
    font-weight: bold;
    padding: 5px;
    text-align: left;
}
.div_with_margin {
    margin: 5px;
}
.note_class {
    width: 100%;
    
}
.my_but {
    text-transform: uppercase;
}
#button_take_down {
    position: relative;
    bottom: -48px;
    
}
.res_header {
    display: inline-block;
}
.res_header p{
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 5px;
    margin-bottom: 5px;
    text-align: left;
    display: inline-block;
}
.politics {
    text-align: right;
    display: inline-block;
    position:absolute;
    right: 10px;
}
.res_header a {
    text-decoration: none;
    color: #000;
}
.res_header a:hover {
    text-decoration: underline;
}

.mygrid-container {
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-item {
    background-color: lightblue !important;
}

#loadingDiv{
    width: 50%;
    height: 50px;
    margin: 0 auto;
    background-color: lightblue;
    color: black;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
}

.potv_container {
    width: 80%;
    margin: 0 auto;
    background-color: lightblue;
    color: #000;
}

.go_back_button {
    width: 50%;
    text-transform: uppercase;
}

.success_potv {
    text-align: center;
    padding: 10px;
}

/* Modal box */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }